
<button mat-button [matMenuTriggerFor]="menu">Checkers</button>

<mat-menu #menu="matMenu">
  <button (click)="newGame()">New Game</button>
  </mat-menu>

  <table id="board" class="board">
    <tr *ngFor="let row of board; let i = index">
      <td *ngFor="let cell of row; let j = index" class="cell" (click)="whichPlayer(i, j)">
        <span *ngIf="board[i][j] != EMPTY_CELL">
          <fa-icon [icon]="iconForPiece(i, j)" [class]="iconClassForPiece(i, j)"></fa-icon>
        </span>

      <td *ngFor="let cell of row; let j = index" class="cell" 
        (click)="cellClicked(i, j)">
        <i class="fad fa-circle" *ngIf="board[i][j] == BLACK_PAWN"></i>
        <i class="fas fa-circe" *ngIf="board[i][j] == RED_PAWN"></i>
        {{board[i][j]}}

      </td>
    </tr>
  </table>

     
  