.board{
  margin:auto;
}

.cell {
  width:50px;
  height:50px;
  border: 5px solid #003c80;
  background: #186d6e;
  text-align: center;
  
}

.board tr:nth-child(2n) td:nth-child(2n),
.board tr:nth-child(2n+1) td:nth-child(2n+1) {
    background-color:rgb(109, 211, 230);
}

.cell:hover {
  cursor: pointer;
  text-align: center;
  background-color: transparent;
}

.redPiece {
  color: burlywood;
}

.blackPiece {
  color: black;
}

.selected {
  background-color:rgb(255, 71, 71);
}

.validMove {
  background-color:white;
}

