<button mat-button [matMenuTriggerFor]="menu">GameOfLife</button>

<mat-menu #menu="matMenu">
  <button (click)="Start()">Start</button>
  <button (click)="Stop()">Stop</button>
  <button (click)="Reset()">Reset</button>
  <button (click)="runOneStep()">runOneStep</button>
</mat-menu>

<table (window:mouseup)="finishDrawing()">
  <tr
    *ngFor="let row of grid; let i = index"
    [class.alive]="grid[i][j]"
    [class.dead]="!grid[i][j]"
  >
    <td
      *ngFor="let cell of row; let j = index"
      [class.alive]="grid[i][j]"
      [class.dead]="!grid[i][j]"
      (mousedown)="startDrawing(i, j)"
      (mouseover)="onHover(i, j)"
    ></td>
  </tr>
</table>
