td {
  width: 4px;
  height: 4px;
}
td.alive {
  background-color: #d6d5d8;
}
td.dead {
  background-color: #05031ffb;
}

table {
  border-collapse: collapse;
}
.tp-selected-value {
  margin: 15px 0;
}
