
.cell {
  width:100px;
  height:100px;
  border: 5px solid #702c79;
  background: #b99898;
  font-size: 46pt;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.cell:hover {
  cursor: pointer;
  background: #96b846;
  text-align: center;
}

#board{
  margin:auto;
}

.winnerCheck{
  background-color: #f5bf78;
  max-width:40em;
  margin:auto;
  margin-top:2em;
}

.actions{
  text-align:auto;
  margin-left:30em;
  margin-right:1.5em;
}

.winner{
  text-align:center;
  color:rgb(255, 0, 47);
  font-family: cursive;
  font-size:1.5em;
  max-height:.1em;
}

.header{
  max-width: 10em;
}

