<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<button mat-button [matMenuTriggerFor]="menu">TicTacToe</button>

<mat-menu #menu="matMenu">
  <button (click)="StartNewGame()">StartNewGame</button>
</mat-menu>

<table id="board">
  <tr *ngFor="let row of board; let i = index">
    <td *ngFor="let cell of row; let j = index" class="cell"
      (click)="takeTurn(i, j)">{{board[i][j]}}</td>
  </tr>  
</table>

<mat-card class="winnerCheck">
  <mat-card-header>
    <mat-card-title>Winner:</mat-card-title>
  </mat-card-header>
    <mat-card-content *ngIf = "winner != null" class="winner">{{ winner == "tie" ? "You Both Lose!" : "Winner" }}</mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button (click)="StartNewGame()">Start New Game</button>
  </mat-card-actions>
</mat-card>  